{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-export-default-from"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "styled-components",
          {
            "minify": false
          }
        ]
      ]
    },
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"],
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "corejs": 3
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        [
          "styled-components",
          {
            "displayName": false
          }
        ]
      ]
    }
  }
}
